@import 'tailwindcss' important;

@theme {
  --breakpoint-*: initial;
  --breakpoint-desktop: 55rem;
}

body {
  --spot-size: 30px;
  --panel-size: 330px;
}

.attendant-spot {
  @apply absolute text-white bg-red-600 rounded-full flex justify-center items-center select-none cursor-pointer hover:bg-red-400 font-bold;
  border: 1px solid white;
  width: var(--spot-size);
  height: var(--spot-size);
  font-size: 10px;
  margin-left: calc(var(--spot-size) / -2);
  margin-top: calc(var(--spot-size) / -2);
  z-index: 10;
}

#map-container {
  @apply overflow-auto w-screen h-screen bg-gray-200 fixed;
  left: 0px;
  transition: left 0.3s;
}

@media (width>= 55rem) {
  #root.panel #map-container {
    width: calc(100vw - var(--panel-size)) !important;
    left: var(--panel-size) !important;
  }
}

#map-control {
  @apply fixed flex items-center p-4 z-[1000] bottom-0 right-0 desktop:top-0 desktop:left-[320px] desktop:bottom-auto desktop:right-auto gap-3;
}

#root.panel #map-control {
  bottom: 60px !important;
}
