@import 'tailwindcss' important;

@theme {
  --breakpoint-*: initial;
  --breakpoint-desktop: 55rem;
}

body {
  --spot-size: 30px;
}

.attendant-spot {
  @apply absolute text-white bg-red-600 rounded-full flex justify-center items-center select-none cursor-pointer hover:bg-red-400 font-bold;
  border: 1px solid white;
  width: var(--spot-size);
  height: var(--spot-size);
  font-size: 10px;
  margin-left: calc(var(--spot-size) / -2);
  margin-top: calc(var(--spot-size) / -2);
  z-index: 10;
}
